body {
  margin: 0;
  font-size: 0.75rem;
  background-color: floralwhite;
  color : floralwhite;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container
{
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px; 
  margin-left: 0px;
}
.row 
{
  width: 100vw;
  margin-right: 0px; 
  margin-left: 0px;
}

.navbar-dark {
  background-color: #23292C;
}

.nav-brand{
  font-size: 1.5rem;
  color : floralwhite;
  font-weight: bold;
}

.logo-box
{
  background-color: #23292C;
  height: 95vh;
  position: relative;
  overflow: hidden;
}
.logo-box .row 
{
  width: 100%;
}

.logo-tabs
{
  position: absolute;
  top:10%;
  left:0;
  margin-left: 0;
}

.logo-box .logo-sp
{
  height: 8vh;
  width: auto;
  padding: 0.25rem;
  margin:0.25rem;
}

.logo-box .logo-bl
{ 
  height: auto;
  width: 90%;
  margin: auto;
  padding-left: 5%;
  position: absolute;
  bottom:5%;
  left:0;
}


.logo-box .logo
{ 
  height: auto;
  width: 90%;
  margin: auto;
  padding-left: 5%;
  position: absolute;
  bottom:40%;
  left:0;
}

.countdown-style
{
  color: floralwhite;
  background-color:#23292C;
  border: floralwhite 2px solid;
  display: inline-block;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.card
{
  color:#23292C;
}
.countdown-title
{
  text-align: center;
  padding: 0.3rem;
  font-size: 1rem;
}

.theme-option {
  border-radius: 5px;
  margin: 2px;
  border: 3px solid darkgrey;
  padding: 3px;
  font-size: 0.65rem;
}

.theme-option-select {
  border: 3px solid limegreen;
  color: limegreen;
}
